body {
    font-family: helvetica;
    color: white;
}
/*ul -> selector*/
ul {
    /*font-family:monospace -> declaration*/
    /*font-family -> property name*/
    /*monospace -> value*/
    font-family: monospace;
    color: white;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}