@font-face {
    font-family: 'Colombo';
    font-style: normal;
    font-weight: 400;
    src: url('../static/post-no-bills/postnobillscolombo-regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../static/Montserrat/Montserrat-Regular.ttf') format('truetype')
}

body {
    font-family: 'Colombo';
    font-family: 'Montserrat';
}
