.About {
  text-align: center;
}



.About-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

.About-main {
  align-items:center;
}
.Contact {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0;
  text-align: left;
}
.Background {
  background-color: moccasin;
}

.MuiAvatar-root {
  margin: 220px;
  width: 450px;
  height:380px;
  text-align: center;
}

.About-link {
  color: #61dafb;
}


