html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding:0px;
  overflow-x: hidden;
}
.About {
  text-align: center;
}


.About-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style:normal;
  font-size: 200px;

}

.About-main {
  align-items:center;
}

.Background {
  background-color: '#6495ED';
  color: '#6495ED';
  font-family: 'monospace';
  
}

.MuiAvatar-root {
  margin: 220px;
  width: 450px;
  height:380px;
  text-align: center;
}

.About-link {
  color: #61dafb;
}


