@font-face {
  font-family: 'Colombo';
  font-style: normal;
  font-weight: 400;
  src: url('../static/post-no-bills/postnobillscolombo-regular.ttf') format('truetype')
}  
body {
  margin: 0;
  opacity: 1;
  transition: 0.7s opacity;
  font-family: 'Colombo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.fade {
  opacity: 0;
  transition: none;
}

code {
  font-family: 'Colombo';
}
